*, html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbars-hover {
  border-radius: 12px;
}

.navbars-hover:hover {
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(20, 20, 20);
  color: black;
  transition: .6s all ease-in-out;
}

.img-home, .div-img-home {
  border-radius: 50px 0px 0px 0px;
}

/* responsive */
@media only screen and (max-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
  }
  #navbars {
    position: fixed;
    top: 0;
    z-index: 999;
    font-size: 11px;
  }
  .img-navbar {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 85px;
  }
  #home {
    padding-top: 120px;
  }
  #seinki {
    font-size: 26px;
  } 
  .desk-singkat, .text-about, .text-card, .text-card-exp {
    /* text-align: center; */
    font-size: 15px;
    /* font-weight: normal; */
    /* font-display: 5px; */
  }
  #about {
    padding-top: 30px;
  }
  #row-card {
    padding-right: 30px;
  }
  #certificate-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 10px 10px;
  }
  #certificate-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }
  #certificate-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 80px 10px;
  }
  #project {
    padding-top: 100px;
  }
  #contact {
    padding-top: 50px;
  }

  #card1 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #blog {
    padding-right: 0px;
  }
  .img-home, .div-img-home {
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
  }
  .h5-card {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 18px;
  }
  .iframe-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  /* #navbars {
    margin-right: 100px;
    padding-right: 100px;
    position: fixed;
    top: 0;
    z-index: 999;
  } */
  #home {
    padding-top: 120px;
  }
  #about {
    padding-top: 30px;
  }
  #row-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 25px;
  }
  #certificate-card1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 10px 10px 10px;
  }
  #certificate-card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }
  #certificate-card3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 10px 10px 80px 10px;
  }
  #project {
    padding-top: 100px;
  }
  #contact {
    padding-top: 50px;
  }
  #card1 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #blog {
    padding-left: 0px;
  }
  .img-home, .div-img-home {
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
  }
  .h5-card {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 18px;
  }
  .iframe-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    padding-top: 20px;
  }
  .footer-text {
    font-size: 12px;
  }
  footer {
    padding-bottom: 500px;
  }
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }

    .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }

    .bi {
    vertical-align: -.125em;
    fill: currentColor;
    }

    .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    }

    .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    }

.form-control-dark {
    border-color: var(--bs-gray);
    }
    .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }
    
    .text-small {
    font-size: 85%;
    }
    
    .dropdown-toggle {
    outline: 0;
    }

/* Heroes */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

/* footer */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  /* onclick button about (read more) */
  #more {display: none;}

  /* features header */
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  /* features on content */
  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    fill: currentcolor;
    transition: transform .25s ease-in-out;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

  .form-control {
    background-color: white;
  }

  /* .card-project:hover {
    background-color: black;
  } */

#project1:hover, #project2:hover, #project3:hover {
  color: darkgray;
}

.p-catatan {
  text-decoration: none;
  font-size: small;
  color: grey;
}
